[submodule "PaperMod"]
	path = PaperMod
	url = https://github.com/adityatelange/PaperMod.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/PaperMod.git
