<p>
    {{ if hasPrefix .Destination "/img" }} {{ $img := os.ReadFile (path.Join "/static" .Destination)
    | resources.FromString .Destination }} {{ if ne $img.MediaType.SubType "svg" }}
    <img
        loading="lazy"
        src="{{ .Destination | safeURL }}"
        alt="{{ .Text }}"
        width="{{ $img.Width }}"
        height="{{ $img.Height }}"
        style="max-width: 100%; height: auto"
    />
    {{ end }} {{ if or (not $img) (eq $img.MediaType.SubType "svg") }}
    <img loading="lazy" src="{{ .Destination | safeURL }}" alt="{{ .Text }}" />
    {{ end }} {{ else }}
    <img loading="lazy" src="{{ .Destination | safeURL }}" alt="{{ .Text }}" />
    {{ end }}
</p>
